@{
    ViewData["Title"] = "Home Page";
}
@model IntexII_Project_4_2.Models.ViewModels.IndexViewModel
<style>
    body{
        width: 100%;
    }

    div{
        width: 100%;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>

<div class="row" style="background-image: url('img/LegoBackUse.png'); background-attachment: fixed; height:575px; text-align: center; display: flex; justify-content: center;">
    <img src="~/img/aurorabricks.png" style="align-self: center; height:444px; width:auto;" />
</div>
<br />
<br />
<h3>What others are buying</h3>
<br />
<div class="row">
    <h3>Top Recommendations</h3>
    @foreach (var product in Model.Recommendations)
    {
        <div class="col-md-4">
            <div class="card">
                <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductId })">
                    <img src="@product.ImgLink" alt="Image of @product.Name" style="max-width: 100%; max-height: 200px; object-fit: contain;">
                    <h4>@product.Name</h4>
                </a>
                <p>@(product.Description.Length > 100 ? product.Description.Substring(0, 100) + "..." : product.Description)</p>
                <h4>Price: $@product.Price</h4>
                <form method="post" asp-controller="Home" asp-action="AddToCart">
                    <input type="hidden" name="productId" value="@product.ProductId" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="card button">Add to Cart</button>
                </form>
            </div>
        </div>
    }
</div>