@model ProductDetailViewModel


<h1>@Model.Product.Name</h1>

<div class="row">
    <div class="col-5">
        <img src="@Model.Product.ImgLink" alt="Image of @Model.Product.Name" style="max-width: 100%; max-height: 300px; object-fit: contain;">
    </div>
    <div class="col-7">
        <h2>Price: $@Model.Product.Price</h2>
        <p>Description: @(Model.Product.Description)</p>
        <h4>Year: @Model.Product.Year</h4> <!-- Assuming you have Year and Pieces properties -->
        <h4>Number of Pieces: @Model.Product.NumParts</h4>
        <form method="post" asp-controller="Home" asp-action="AddToCart">
            <div class="quantity">
                <label for="quantity">Quantity:</label>                <select id="quantity" name="quantity">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <input type="hidden" name="productId" value="@Model.Product.ProductId" />
            <button type="submit" class="btn-outline-success btn-sm">Add to Cart</button>
        </form>
    </div>
</div>

<br />
<br />
<div class="row">
    <h3>You may also like...</h3>
    @foreach (var rec in Model.Recommendations)
    {
        <div class="col-4">
            <a href="@Url.Action("ProductDetail", "Home", new { id = rec.ProductId })">
                <img src="@rec.ImgLink" alt="Image of @rec.Name" style="max-width: 100%; max-height: 200px; object-fit: contain;">
                <h4>@rec.Name</h4>
            </a>
            <p>@(rec.Description.Length > 100 ? rec.Description.Substring(0, 100) + "..." : rec.Description)</p>
            <h4>Price: $@rec.Price</h4>
            <form method="post" asp-controller="Home" asp-action="AddToCart">
                <input type="hidden" name="productId" value="@rec.ProductId" />
                <input type="hidden" name="quantity" value="1" />
                <button type="submit" class="btn-outline-success btn-sm">Add to Cart</button>
            </form>
        </div>
    }
</div>

<script>
    function decrementQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    }

    function incrementQuantity() {
        var quantityInput = document.getElementById('quantity');
        var currentQuantity = parseInt(quantityInput.value);
        quantityInput.value = currentQuantity + 1;
    }

    function addToCart() {
        var quantityInput = document.getElementById('quantity');
        var quantity = parseInt(quantityInput.value);
        // Add your code to add the product to the cart with the specified quantity
        alert('Added ' + quantity + ' product(s) to cart.');
    }
</script>