@using IntexII_Project_4_2.Infrastructure;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product
<div class="row">
    <div class="col-md-6">
        <div class="card m-1 p-1">
            <h3>
                <a href="@Url.Action("ProductDetail", "Home", new { id = Model.ProductId })" class="text-decoration-none text-dark">
                    @Model.Name
                    <span class="badge rounded-pill bg-primary text-white float-end"><small>Price: $@Model.Price</small></span>
                </a>
            </h3>

            <ul>
                <li>
                    <a href="@Url.Action("ProductDetail", "Home", new { id = Model.ProductId })">
                        <img src="@Model.ImgLink" alt="Image of @Model.Name" style="max-width: 100%; max-height: 200px; object-fit: contain;" />
                    </a>
                </li>
                <li>Category: @Model.Category</li>
                <li>Description: @(Model.Description.Length > 50 ? Model.Description.Substring(0, 50) + "..." : Model.Description)</li>
            </ul>
            <form id="@Model.ProductId" method="post" asp-page="/Cart">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-outline-success btn-sm float-end">Add to Cart</button>
            </form>
        </div>
    </div>
</div>