@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<IntexII_Project_4_2.Data.ApplicationUser>

@{
    ViewData["Title"] = "All Customer Information";
}

<style>
    header {
        background-color: #4d96d1;
    }

    .header-container {
        background: #4d96d1;
        height: 7.2rem;
        transition: all 0.2s ease-in-out;
        z-index: 100;
    }

    footer {
        background-color: #4d96d1;
    }
</style>

<br />
<br />
<h1>Customer Information</h1>
<br />
<a class="btn btn-success" href="/Admin/AddUser" style="border: none; outline: 0; padding: 12px; border-radius: 2px; color: black; font-size:28px; background-color: #FFD700; text-align: center; cursor: pointer; width: 144px; font-size: 18px;">Add a User</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Two Factor Enabled?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Email</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Country</td>
                <td>@customer.DateOfBirth</td>
                <td>@customer.Gender</td>
                <td>@customer.TwoFactorEnabled</td>
                <td>
                    <a class="btn btn-primary" href="/Admin/EditCustomerInfo?id=@customer.Id">Edit</a>
                    <a class="btn btn-danger" href="/Admin/ConfirmDeleteUser?id=@customer.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>