@model OrderListViewModel

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Admin Order Summaries</h2>
<a href="@Url.Action("AllOrders", new { filter = "all" })">Show All Orders</a>
<a href="@Url.Action("AllOrders", new { filter = "unfulfilled" })">Show Unfulfilled Orders</a>
<a href="@Url.Action("AllOrders", new { filter = "fraud" })">Show Fraudulent Orders</a>

<table>
    <tr>
        <th>Transaction ID</th>
        <th>Customer ID</th>
        <th>Date/Hour of Day</th>
        <th>Amount</th>
        <th>Country of Transaction</th>
        <th>Shipping Address</th>
        <th>Bank</th>
        <th>Type of Card</th>
        <th>Potential Fraud</th>
        <th>Fulfilled/Resolved</th>
    </tr>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.TransactionId</td>
            <td>@order.CustomerId</td>
            <td>@order.Date - @order.Time</td>
            <td>$@order.Amount</td>
            <td>@order.CountryOfTransaction</td>
            <td>@order.ShippingAddress</td>
            <td>@order.Bank</td>
            <td>@order.TypeOfCard</td>
            <td>@(order.Fraud > 0 ? "Yes" : "No")</td>
            <td>@(order.Fullfilled ? "Yes" : "No")</td>
            @if (order.Fraud > 0)
            {
                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditOrder", "Admin", new { id = order.TransactionId })">Review</a>

                </td>
            }
        </tr>
    }
</table>

@if (Model.PaginationInfo != null)
{
    <div>
        Page @(Model.PaginationInfo.CurrentPage) of @(Model.PaginationInfo.TotalNumPages)

        @if (Model.PaginationInfo.CurrentPage > 1)
        {
            <a href="@Url.Action("AllOrders", new { filter = Model.CurrentFilter, page = Model.PaginationInfo.CurrentPage - 1 })">Previous</a>
        }

        @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalNumPages)
        {
            <a href="@Url.Action("AllOrders", new { filter = Model.CurrentFilter, page = Model.PaginationInfo.CurrentPage + 1 })">Next</a>
        }
    </div>
}