@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h1>This view displays all the products available on the website. Only accessible to admins.</h1> *@

<style>
    header {
        background-color: #4d96d1;
    }

    .header-container {
        background: #4d96d1;
        height: 7.2rem;
        transition: all 0.2s ease-in-out;
        z-index: 100;
    }

    footer {
        background-color: #4d96d1;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #FFD700;
    }
</style>
<br />
<br />
<h1 style="margin-left: 25px;">All Products</h1>
<br />
<br />
<a class="btn btn-success" href="@Url.Action("AddProduct", "Admin")" style="background-color: #FFD700; color:black; margin-left:25px;">Add New Product</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Year</th>
            <th>Num Parts</th>
            <th>Price</th>
            <th>Primary Color</th>
            <th>Secondary Color</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td><img src="@product.ImgLink" alt="Image of @product.Name" style="height: 100px;"></td>
                <td>@product.Name</td>
                <td>@product.Year</td>
                <td>@product.NumParts</td>
                <td>$@product.Price</td>
                <td>@product.PrimaryColor</td>
                <td>@product.SecondaryColor</td>
                <td>@product.Category</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditProduct", "Admin", new { id = product.ProductId })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteConfirmation", "Admin", new { id = product.ProductId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>