@model IntexII_Project_4_2.Data.ApplicationUser

@{
    ViewData["Title"] = "Delete User Confirmation";
}

<h1>Confirm Deletion</h1>
<p>Are you sure you want to delete the user @Model.FirstName @Model.LastName?</p>

@using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="Id" value="@Model.Id" />

    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
    <a class="btn btn-secondary" href="@Url.Action("AllCustomerInfo", "Admin")">Abort</a>
}
