@model AdminKPIViewModel

<h1>Welcome, [dynamic admin user name]!</h1>
<br />
<h3>KPI - Total Sales in 2023</h3>
<h3>@Model.TotalSales2023</h3>

<h3>KPI - Total Sales past 7 days</h3>
<h3>@Model.TotalSalesPast7Days</h3>

<h3>KPI - Unfulfilled Orders</h3>
<h3>@Model.UnfulfilledOrders</h3>

<h3>KPI - Orders Fulfilled in the past 7 days</h3>
<h3>@Model.OrdersFulfilledPast7Days</h3>
<br />
<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-4">
        <!-- Link to AllOrders view -->
        <a class="btn btn-primary" href="@Url.Action("AllOrders", "Admin")">See All Orders</a>
        <!-- Link to AllProducts view -->
        <a class="btn btn-primary" href="@Url.Action("AllProducts", "Admin")">All Products</a>
    </div>
</div>