@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <h1>This view is the landing page for the admin. It should be accessible directly after logging in as admin.</h1> *@
@model AdminKPIViewModel

<style>
    header {
        background-color: #4d96d1;
    }

    .header-container {
        background: #4d96d1;
        height: 7.2rem;
        transition: all 0.2s ease-in-out;
        z-index: 100;
    }

    footer {
        background-color: #4d96d1;
    }

    body {
        background-image: url('../img/LegoBackUse.png'); 
        padding: 0; 
        background-attachment: fixed; 
        width:100%; 

        text-align: center; 
        justify-content: center;
        align-items: center;
    }

    #btn1 {
        margin-right: 24px;
    }

    #btn2 {
        margin-left: 24px;
    }

    #btn3 {
        margin: 24px;
    }

</style>

    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-2"><h1></h1></div>
            <div class="col-8" style="align-content:center;">
                <table class="table table-bordered table-striped bg-white" style="border-color: black;margin-left: auto; margin-right: auto; width: 100%; opacity:.7;">
                    <thead>
                        <tr>
                            <th><h2>Total Sales -  This Year</h2></th>
                            <th><h2>Total Sales -  Past 7 Days</h2></th>
                            <th><h2>Orders Fulfilled -  Past 7 Days</h2></th>
                            <th><h2>Unfulfilled Orders</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                    <td><h3>@($"${Model.TotalSales2023:N0}")</h3></td>
                    <td><h3>@($"${Model.TotalSalesPast7Days:N0}")</h3></td>
                            <td><h3>@Model.OrdersFulfilledPast7Days</h3></td>
                            <td><h3>@Model.UnfulfilledOrders</h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="col-2"><h1></h1></div>
    </div>
  
    <br />
    <br />
    <br />
    <br />
    <div class="row" style="display: flex; justify-content: center; ">
        <div class="col-7">
            <!-- Link to AllOrders view -->
            <a class="btn btn-primary" id="btn1" href="@Url.Action("AllOrders", "Admin")" style="border: none; outline: 0; padding: 12px; border-radius: 2px; color: black; font-size:28px; font-weight:bold; background-color: #FFD700; text-align: center; cursor: pointer; width: 174px; font-size: 18px;">See All Orders</a>
            <!-- Link to AllCustmers view -->
            <a class="btn btn-primary" id="btn3" href="@Url.Action("AllCustomerInfo", "Admin")" style="border: none; outline: 0; padding: 12px; border-radius: 2px; color: black; font-size:28px; font-weight:bold; background-color: #FFD700; text-align: center; cursor: pointer; width: 190x; font-size: 18px;">See All Customers</a>
            <!-- Link to AllProducts view -->
            <a class="btn btn-primary" id="btn2" href="@Url.Action("AllProducts", "Admin")" style="border: none; outline: 0; padding: 12px; border-radius: 2px; color: black; font-size:28px; font-weight:bold; background-color: #FFD700; text-align: center; cursor: pointer; width: 174px; font-size: 18px;">See All Products</a>
        </div>
    </div>
    <br />
    <br />
    <br />

