@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    body{
    }
</style>
<br />
<br />
<div class="row" style="align-content: center;">
    <h1 style="margin: 60px">Sign In</h1>
</div>
<div class="row" style="margin:45px;">
    <div class="col-5" style="align-content: center; margin-right:15px;">
        <section>
            <form id="account" method="post">
                <h3>Use a local account to log in.</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div style="align-content: center;">
                    <button id="login-submit" type="submit" class=" btn btn-lg btn-primary" style="border: none; outline: 0; padding: 12px; border-radius: 2px; color: black; font-size:28px; background-color: #FFD700; text-align: center; cursor: pointer; width: 84px; font-size: 18px;">Log in</button>
                </div>
                <br>
                <br />
                <br />
                <div style="align-content: center; ">
                    <p>
                        <a style="text-decoration: underline; color: black;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a style="text-decoration: underline; color: black;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a style="text-decoration: underline; color: black;" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-5" style="margin-left:15px;">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            <br />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                            </p>
                        </div>
                }
                else
                {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button style="border: none; outline: 0; padding: 12px; color: black; font-size:28px; background-color: #DFDFDF; text-align: center; cursor: pointer; width: 200px; font-size: 18px;" type="submit" class="" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign in with @provider.DisplayName</button>
                                }
                                </p>
                            </div>
                        </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
